.getInputPane{
    -fx-background-image: url("/input.png");
}

.getInputPane Label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.getInputPane Button{
    -fx-background-color: rgba(0, 0, 255, 0.2);
    -fx-background-radius: 20px;
    -fx-end-margin: 80px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-effect: dropshadow( three-pass-box, white, 5.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.textInput{
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 8.0, 0.0, 0.0, 0.0);
    -fx-max-width: 150px;
}